<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"   href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <title>Poke App</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PokeApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/pokemon/pokemon-index">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pokemon/pokemon-mant">Pokemon</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/region/region-mant">Region</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/type/type-mant">Type</a>
      </li>
    </ul>
  </div>
</nav>
    <main class="container">
        {{{body}}}
    </main>
</body>
</html>