<h1 class="display-1 text-center mt-5">SAVE POKEMON </h1>
<form action="/pokemon/pokemon-add" method="POST" onsubmit="return confirm('You sure you want to save this pokemon?');" class="border p-4 rounded bg-light">
    
    <div class="mb-3">
        <label for="Name" class="form-label">Name:</label>
        <input type="text" id="Name" name="Name" class="form-control"required>
    </div>

    <div class="mb-3">
        <label for="ImgUrl" class="form-label">Image:</label>
        <input type="text" id="ImgUrl" name="ImgUrl" class="form-control"required>
    </div>

    <div class="mb-3">
        <label for="TypeId" class="form-label">Type:</label>
        <select name="TypeId" id="TypeId" class="form-select" required>
            <option value="">Select a type</option>
            {{#each types}}
            <option value="{{this.id}}">{{this.Name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="mb-3">
        <label for="RegionId" class="form-label">Region:</label>
        <select name="RegionId" id="RegionId" class="form-select" required>
            <option value="">Select a Region</option>
            {{#each regions}}
            <option value="{{this.id}}">{{this.Name}}</option>
            {{/each}}
        </select>
    </div>
         <a href="/pokemon/pokemon-mant" class="btn btn-info">Go back</a>
         <button type="submit" class="btn btn-primary">save pokemon</button>
</form>