<a href="/region/region-add" class="btn btn-success mb-3">New region</a>

<div class="row">
    {{#if IsEmpty}}
    <div class="flex col-12">
        <h1 class="text-center"> There is no region</h1>
    </div>
    {{/if}}
    {{#each regions}}
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{this.Name}}</h5>
                <div class="d-flex  flex-row-reverse gap-1">
                    <form action="/region/region-delete" method="POST" onsubmit="return confirm('You sure you want to delete the type?');">
                        <input type="hidden" name="id" id="id" value="{{this.id}}"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a href="/region/region-edit/{{this.id}}" class="btn btn-info">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>